h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
    padding: ($operacion/5)+10;
    font-weight: bold;
}

h1{
    text-align: center;
    position: relative;
    width: 80%;
    margin: $espaciado auto;

    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: black;
        top: 50%;
        z-index: -1;
    }

    span{
        background-color: #fff;
        padding: 0 15px;
    }
}

.main-text{
    padding: 15px;
    text-align: center;
}
