@media (max-width: 576px) {
    footer{
        .container{
            text-align: center;  
        }
        
        .text-md-end{
            text-align: center !important;
            margin-top: 10px; 
        }
    }
}